<a href="https://colab.research.google.com/github/ravi-prakash1907/Problem-Solving-with-Python/blob/main/Class%20Notebooks/Lab%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 4

## Session 1
  
The pdf of questions can be found [here](#)  

## Conditional Statments
### Sol. 1:
```
numOfStudents = 30
numOfClass = 5
totalStudents = numOfStudents * numOfClass
print(totalStudents)
```
o/p  ```150```  
  

---
## Session 2

### Delimiter Symbols

* ( )
* [ ]
* { }
* ,
* :
* ;
* =
* +=
* -=
* \>>
* <<
* =/  
  
etc..

### Bitwise Operators

In [ ]:
True & False

False

In [2]:
12 | 16

28

---

In [5]:
%whos

Interactive namespace is empty.

## Keyword (Library)

In [7]:
import keyword

print("Python keywords are...")
print(keyword.kwlist)

Python keywords are...
['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### Programming

Area of Rectangle

In [14]:
length = 20
breadth = 30

area = length * breadth
print("Area of the rectangle is: ",area,"sq units")

# O/P
# Area of the rectangle is:  600 sq units

Area of the rectangle is:  600 sq units

Area of Circle

In [15]:
PI = 3.14
radius = 10

area = PI * radius**2
print("Area of the circle is: ",area,"sq units")

# O/P
# Area of the circle is:  314.0 sq units

Area of the circle is:  314.0 sq units

Area for Dynamic Values

In [18]:
# for rectangle
def areaR(l, b):
  return l*b

# for circle
def areaC(r):
  PI = 3.14
  return PI * r**2

In [19]:
length = int(input("Given length: "))
breadth = int(input("Given width: "))

print("Area of the rectangle is: ",areaR(length, breadth),"sq units")

Given length: 20
Given width: 30
Area of the rectangle is:  600 sq units

In [20]:
radius = int(input("Given radius: "))

print("Area of the circle is: ",areaC(radius),"sq units")

Given radius: 10
Area of the circle is:  314.0 sq units

---

Find the Gross Salary  
I/P
* basic salary  
  
Parameters  
1. Sudha's basic salary
2. Her allowances (i.e. 35% of basic)
3. HRA (i.e. 20% of basic)

In [24]:
# getting the basic salary as input
basicSalary = int(input("Enter Sudha\'s basic salary (₹): "))

# finding allowance (35% of basic salary)
allowance = 0.35 * basicSalary

# finding HRA (20% of basic salary)
hra = 0.2 * basicSalary

# canculating the gross salary
grossSalary = basicSalary + allowance + hra

# printing output
print("Sudha\'s gross salary is: ₹",grossSalary)


## O/P
##
## Sudha's basic salary (₹): 100
## Gross salary is: ₹ 155.0

Enter Sudha's basic salary (₹): 100
Sudha's gross salary is: ₹ 155.0

In [25]:
# Program 5: temperature of trivandrum in farenheit is the input, 
# write a program to convert into centigrade scale.

In [26]:
tempInF = int(input("Temprature Of trivendram in farenheit"))
tempInC = (tempInF - 32) * 5/9

print("Temprature of trivendram in Celcius: ",tempInC,"°")

Temprature Of trivendram in farenheit100
Temprature of trivendram in Celcius:  37.77777777777778 °

In [34]:
# getting a 4-digit number (initial 4 digits will only be considered)
num = int(input("Your number: "))

# sum till ones place
sum = num%10
num //= 10

# sum till tens place
sum += num%10
num //= 10

# sum till hundreds place
sum += num%10
num //= 10

# sum of initial 4 digits
sum += num%10

print("Sum of given 4 digit number is: ",sum)


## O/P
## 
## Your number: 2345   ------->  input
## Sum of given 4 digit number is:  14

Your number: 2345
Sum of given 4 digit number is:  14

### Inbuilts

In [39]:
print(abs(-26.56))
print(pow(3,3))
print(round(2.4566743,3))
print(ord(" ")) # returns ASCII value of ' '

26.56
27
2.457
32

## Assignment

Compound Interest

In [11]:
# scanning inputs

# getting principle amount
principle = float(input("Enter the principle amount: "))
# getting interest rate
rate = float(input("Enter the rate of interest, per year(in %): "))
# getting time 
duration = int(input("Enter total duration(in years): "))

# applying CI formula to find the final amount after applying 
# compound interest for given time duration
finalPayableAmt = round(principle * (pow((1 + rate/100), duration)), 2)

# finding the Compound Interest alone out of total amount
CI = round((finalPayableAmt - principle), 2) # rounded upto 2 decimal places

# output
print("\nCompound Interest is: ",CI) 


## O/P
##
## Enter the principle amount:  2390.76
## Enter the rate of interest, per year(in %):  11.20
## Enter total duration(in years):  3
##
## Compound Interest is:  896.62

Enter the principle amount:  2390.76
Enter the rate of interest, per year(in %):  11.20
Enter total duration(in years):  3

Compound Interest is:  896.62

Hypotenuse of a Right Triangle

In [4]:
# importing the square root function
from math import sqrt

# getting base
base = int(input("Base of given right-triangle: "))
# getting height
height = int(input("Height of given right-triangle: "))

# finding hypotenuous using formula
hypotenuse = sqrt(pow(base,2) + pow(height,2))

# printing the result
print("\nHypotenuse of the of given right-triangle is: ",hypotenuse,"units")



## O/P
##
## Base of given right-triangle:  3
## Height of given right-triangle:  4

## Hypotenuse of the of given right-triangle is:  5.0 units

Base of given right-triangle:  3
Height of given right-triangle:  4

Hypotenuse of the of given right-triangle is:  5.0 units

Diff. b/w ascii code of upper and lower case (same) letter

In [34]:
# getting the charector
char1 = input("Enter you fevorate alphabet: ")

# checking that user has entered only single alphabet or not
if len(char1) == 1 and char1.isalpha():
    # finding the other varient of the same alphabet
    if char1.islower():
        char2 = char1.upper()
    else:
        char2 = char1.lower()
    
    # finding differance 
    diff = abs(ord(char1)-ord(char2))
    print("Differance between Upper and Lower case ASCII values of your fav. charector is: ",diff)
else:
    print("Invalid input!!")

Enter you fevorate alphabet:  a

Differance between Upper and Lower case ASCII values of your fav. charector is:  32

You have the denominations, Rs. 100, 50, 20, 10, 5, 2, 1. Take an amount as input. Find the minimum number of notes required.

In [16]:
totalAmount = int(input("Enter total amount of money: "))

# init every note count
hundrads =0
fifties = 0
twenties = 0
tens = 0
fives = 0
twos = 0
ones = 0

## counting every note
if (totalAmount / 100) != 0:
    hundrads = totalAmount//100
    totalAmount %= 100
else:
    print("Can not hold a note of 100")

if (totalAmount / 50) != 0:
    fifties = totalAmount//50
    totalAmount %= 50
else:
    print("Can not hold a note of 50")

if (totalAmount / 20) != 0:
    twenties = totalAmount//20
    totalAmount %= 20
else:
    print("Can not hold a note of 20")

if (totalAmount / 10) != 0:
    tens = totalAmount//10
    totalAmount %= 10
else:
    print("Can not hold a note of 10")

if (totalAmount / 5) != 0:
    fives = totalAmount//5
    totalAmount %= 5
else:
    print("Can not hold a note of 5")

if (totalAmount / 2) != 0:
    twos = totalAmount//2
    totalAmount %= 2
else:
    print("Can not hold a note of 2")

ones = totalAmount
if ones == 0:
    print("Can not hold a note of 1")

# total notes
noteCount = hundrads + fifties + twenties + tens + fives + twos + ones

print("\nTotal notes needed: ",noteCount)


##############

## O/P
## 
## Enter total amount of money:  1255

## Can not hold a note of 2
## Can not hold a note of 1
##
## Total notes needed:  14

Enter total amount of money:  1255

Can not hold a note of 2
Can not hold a note of 1

Total notes needed:  14

In [8]:
34 % 50

34