<a href="https://colab.research.google.com/github/ravi-prakash1907/Problem-Solving-with-Python/blob/main/Class%20Notebooks/Lab%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 4

## Session 1
  
The pdf of questions can be found [here](#)  

## Conditional Statments
### Sol. 1:
```
numOfStudents = 30
numOfClass = 5
totalStudents = numOfStudents * numOfClass
print(totalStudents)
```
o/p  ```150```  
  

---
## Session 2

### Delimiter Symbols

* ( )
* [ ]
* { }
* ,
* :
* ;
* =
* +=
* -=
* \>>
* <<
* =/  
  
etc..

### Bitwise Operators

In [ ]:
True & False

False

In [2]:
12 | 16

28

---

In [5]:
%whos

Interactive namespace is empty.

## Keyword (Library)

In [7]:
import keyword

print("Python keywords are...")
print(keyword.kwlist)

Python keywords are...
['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### Programming

Area of Rectangle

In [14]:
length = 20
breadth = 30

area = length * breadth
print("Area of the rectangle is: ",area,"sq units")

# O/P
# Area of the rectangle is:  600 sq units

Area of the rectangle is:  600 sq units

Area of Circle

In [15]:
PI = 3.14
radius = 10

area = PI * radius**2
print("Area of the circle is: ",area,"sq units")

# O/P
# Area of the circle is:  314.0 sq units

Area of the circle is:  314.0 sq units

Area for Dynamic Values

In [18]:
# for rectangle
def areaR(l, b):
  return l*b

# for circle
def areaC(r):
  PI = 3.14
  return PI * r**2

In [19]:
length = int(input("Given length: "))
breadth = int(input("Given width: "))

print("Area of the rectangle is: ",areaR(length, breadth),"sq units")

Given length: 20
Given width: 30
Area of the rectangle is:  600 sq units

In [20]:
radius = int(input("Given radius: "))

print("Area of the circle is: ",areaC(radius),"sq units")

Given radius: 10
Area of the circle is:  314.0 sq units

---

Find the Gross Salary  
I/P
* basic salary  
  
Parameters  
1. Sudha's basic salary
2. Her allowances (i.e. 35% of basic)
3. HRA (i.e. 20% of basic)

In [24]:
# getting the basic salary as input
basicSalary = int(input("Enter Sudha\'s basic salary (â‚¹): "))

# finding allowance (35% of basic salary)
allowance = 0.35 * basicSalary

# finding HRA (20% of basic salary)
hra = 0.2 * basicSalary

# canculating the gross salary
grossSalary = basicSalary + allowance + hra

# printing output
print("Sudha\'s gross salary is: â‚¹",grossSalary)


## O/P
##
## Sudha's basic salary (â‚¹): 100
## Gross salary is: â‚¹ 155.0

Enter Sudha's basic salary (â‚¹): 100
Sudha's gross salary is: â‚¹ 155.0

## Assignment  
Program for compound intrest

In [25]:
# Program 5: temperature of trivandrum in farenheit is the input, 
# write a program to convert into centigrade scale.

In [26]:
tempInF = int(input("Temprature Of trivendram in farenheit"))
tempInC = (tempInF - 32) * 5/9

print("Temprature of trivendram in Celcius: ",tempInC,"Â°")

Temprature Of trivendram in farenheit100
Temprature of trivendram in Celcius:  37.77777777777778 Â°

In [34]:
# input
num = int(input("Your number: "))

# sum till ones place
sum = num%10
num //= 10

# sum till tens place
sum += num%10
num //= 10

# sum till hundreds place
sum += num%10
num //= 10

# sum of initial 4 digits
sum += num%10

print("Sum of given 4 digit number is: ",sum)


## O/P
## 
## Your number: 2345   ------->  input
## Sum of given 4 digit number is:  14

Your number: 2345
Sum of given 4 digit number is:  14