<a href="https://colab.research.google.com/github/ravi-prakash1907/Problem-Solving-with-Python/blob/main/Class%20Notebooks/Lab%2013.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lac 13

## String Manipulation

### Basic Operators:  
1. ```+```  -> for concatination  
2. ```*```  -> for concatination of same string repeatedly  
3. ```<string>[index]```  -> (index-1)th letter

In [ ]:
print("I "+"am "+"great!!"+"\n")

print("I "+"am "+"great"+"!"*3+"\n")

s = "Hurrrr"
print(s[4])
print(s[-1])
print(s[-len(s)+7])

I am great!!

I am great!!!

r
r
u

**Strings are IMMUTABLE**  

Hence,  following is invalid:  
```myStr[0] = "x"```

### Slicing:  
1. applicable for both ```strings``` & ```lists```

In [5]:
s = "washington State"

print(s[1:4])
print(s[:4])
print(s[4:6])
print(s[4:])

print(s[:])

print(s[-3:])
print(s[-9:-2])
print(s[4:-3])
print(s[-10:10])

print(s[5::2])
print(s[::1])
print(s[5:-1:2])

print(s[::-1])
print(s[10:1:-1])
print(s[-1:-len(s)-1:-1])

ash
wash
in
ington State
washington State
ate
ton Sta
ington St
gton
ntnSae
washington State
ntnSa
etatS notgnihsaw
 notgnihs
etatS notgnihsaw

### Inbuilt Fun.
1. ```str()```  
2. ```len()```  
3. ```chr()``` 
4. ```orb()```

In [8]:
print('A'+str(32))
print(len('A'))
print(chr(99))
print(ord('A'))

print(chr(ord('A')+32))

A32
1
c
65
a

In [9]:
txt = input("Enter string in lower case: ")

for c in txt:
  newChar = chr(ord(c)-32)
  print(newChar,end="")

Enter string in lower case: ravi
RAVI

#### Some Other Methods

1. ```upper()```  
2. ```lower()```  
3. ```title()```  
4. ```capitalize()```  
5. ```cound()```  
6. ```lstrip()```  
7. ```rstrip()```  
8. ```strip()```  
9. ```rstrip()```  
10. ```find()```  
11. ```index()```  
12. ```replace()```  
13. ```split()```  
14. ```join()```

In [11]:
s = "welcome Folks!"
print(s)

print(s.upper())
print(s.lower())
print(s.title())
print(s.capitalize())

welcome Folks!
WELCOME FOLKS!
welcome folks!
Welcome Folks!
Welcome folks!

In [16]:
s = 'I think, therefore I am.'

print(s.count('I'))
print(s.count('re'))
print(s.count('you'))
print('eee'.count('ee'))

2
2
0
1

In [17]:
print('  hi '.lstrip()+'!')
print('  hi '.rstrip()+'!')
print('  hi '.strip()+'!')

hi !
  hi!
hi!

In [23]:
s = "We and I think, therefore I am."

if s.find("I"):
  print("Got I at",s.index('I'))
else:
  print("Not Found")

Got I at 7

In [29]:
# find multiple occr.
s.find("I", 5) 
s.index("I", 5)

7

In [33]:
t = s
print(t.replace("I", "We"))   # all occr replaced

t = s
print(t.replace("I", "We", 5))   # max 5 occr replaced

t = s
print(t.replace("I", "We", 1))   # 1 occr replaced

We and We think, therefore We am.
We and We think, therefore We am.
We and We think, therefore I am.

In [34]:
print(s.split(" "))

['We', 'and', 'I', 'think,', 'therefore', 'I', 'am.']

In [42]:
print(' and '.join(['cat', 'dog']))
print('-'.join(['cat', 'dog', 'ppl']))

cat and dog
cat-dog-ppl