<a href="https://colab.research.google.com/github/ravi-prakash1907/Problem-Solving-with-Python/blob/main/Class%20Notebooks/Lec7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lec 7

## Topics

### List

In [1]:
W = ['a', 'bee', 'sea', 'solo', 'duo', 'trio']
W.sort()
print(W)

['a', 'bee', 'duo', 'sea', 'solo', 'trio']

In [9]:
w = [0, -5.4, 3, 8, 0.01]
w.sort()
print(w)

w = [0, 'a', 3, 8, 0.01]
#w.sort()
print(w, ": give error")

w = [0, 3, 8, 0.01]
w.sort()
print(w)

w = [7, 9]
w.extend(['2nd'])
print(w, "\tLen: ",len(w))

w = [7, 9]
w.append('Hi')
print(w, "\tLen: ",len(w))

[-5.4, 0, 0.01, 3, 8]
[0, 'a', 3, 8, 0.01] : give error
[0, 0.01, 3, 8]
[7, 9, '2nd'] 	Len:  3
[7, 9, 'Hi'] 	Len:  3

### Append vs List

**Append:**  
* concatinates new list as single element  
* takes 1 element
* passed param is list

**Extend:** concatinates new list as extended list

In [10]:
tempList = [1,2,3]

#######################

w = [7, 9]
w.extend(tempList)
print(w, "\tLen: ",len(w))

w = [7, 9]
w.append(tempList)
print(w, "\tLen: ",len(w))

[7, 9, 1, 2, 3] 	Len:  5
[7, 9, [1, 2, 3]] 	Len:  3

In [11]:
names = ['Liam', 'Noah', 'Oliver', 'William', 'Elijah', 'James']
for name in names:
  print("Hi " + name + "!")

Hi Liam!
Hi Noah!
Hi Oliver!
Hi William!
Hi Elijah!
Hi James!

In [12]:
count = 0
for foo in names:
  count += 1
  print(count, foo)

1 Liam
2 Noah
3 Oliver
4 William
5 Elijah
6 James

In [15]:
# 4th name's 
names[3]

'William'

Lists & Strings etc.. are **iterables**

In [16]:
# 4th name's 4th letter
names[3][3]

'l'

In [18]:
a = [1,3]
a = a+[4,8]
a

[1, 3, 4, 8]

In [26]:
x = range(len(names)-1,-1,-1)
# range(5, -1, -1)  --->   5, 4, 3, 2, 1, 0
for i in x:
  print(i,names[i])

5 James
4 Elijah
3 William
2 Oliver
1 Noah
0 Liam

### Tuple
Non-mutable datatypes

In [28]:
tup1 = (1,2,3)
tup2 = (1, 'a', 3)

print(tup1)
print(tup2)

(1, 2, 3)
(1, 'a', 3)

In [30]:
# err
#tup1[0] = 'b'

## alt way
temp = list(tup1)
temp[0] = 'b'
tup1 = tuple(temp)

print(tup1)

('b', 2, 3)