<a href="https://colab.research.google.com/github/ravi-prakash1907/Problem-Solving-with-Python/blob/main/Class%20Notebooks/Lec7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lec 7

## Topics

### List

In [ ]:
W = ['a', 'bee', 'sea', 'solo', 'duo', 'trio']
W.sort()
print(W)

['a', 'bee', 'duo', 'sea', 'solo', 'trio']

In [ ]:
w = [0, -5.4, 3, 8, 0.01]
w.sort()
print(w)

w = [0, 'a', 3, 8, 0.01]
#w.sort()
print(w, ": give error")

w = [0, 3, 8, 0.01]
w.sort()
print(w)

w = [7, 9]
w.extend(['2nd'])
print(w, "\tLen: ",len(w))

w = [7, 9]
w.append('Hi')
print(w, "\tLen: ",len(w))

[-5.4, 0, 0.01, 3, 8]
[0, 'a', 3, 8, 0.01] : give error
[0, 0.01, 3, 8]
[7, 9, '2nd'] 	Len:  3
[7, 9, 'Hi'] 	Len:  3

### Append vs List

**Append:**  
* concatinates new list as single element  
* takes 1 element
* passed param is list

**Extend:** concatinates new list as extended list

In [ ]:
tempList = [1,2,3]

#######################

w = [7, 9]
w.extend(tempList)
print(w, "\tLen: ",len(w))

w = [7, 9]
w.append(tempList)
print(w, "\tLen: ",len(w))

[7, 9, 1, 2, 3] 	Len:  5
[7, 9, [1, 2, 3]] 	Len:  3

In [ ]:
names = ['Liam', 'Noah', 'Oliver', 'William', 'Elijah', 'James']
for name in names:
  print("Hi " + name + "!")

Hi Liam!
Hi Noah!
Hi Oliver!
Hi William!
Hi Elijah!
Hi James!

In [ ]:
count = 0
for foo in names:
  count += 1
  print(count, foo)

1 Liam
2 Noah
3 Oliver
4 William
5 Elijah
6 James

In [ ]:
# 4th name's 
names[3]

'William'

Lists & Strings etc.. are **iterables**

In [ ]:
# 4th name's 4th letter
names[3][3]

'l'

In [ ]:
a = [1,3]
a = a+[4,8]
a

[1, 3, 4, 8]

In [ ]:
x = range(len(names)-1,-1,-1)
# range(5, -1, -1)  --->   5, 4, 3, 2, 1, 0
for i in x:
  print(i,names[i])

5 James
4 Elijah
3 William
2 Oliver
1 Noah
0 Liam

### Tuple
Non-mutable datatypes

In [ ]:
tup1 = (1,2,3)
tup2 = (1, 'a', 3)

print(tup1)
print(tup2)

(1, 2, 3)
(1, 'a', 3)

In [ ]:
# err
#tup1[0] = 'b'

## alt way
temp = list(tup1)
temp[0] = 'b'
tup1 = tuple(temp)

print(tup1)

('b', 2, 3)

# Lab 7

**Loops:**  
1. While
2. For

In [1]:
## Add 10 consecutive num
count = 0
sum = 0

while count != 10:
  count += 1
  sum += count

print("Sum 0 to 10: ",sum)

Sum 0 to 10:  55

In [2]:
## program to find sum of digits of a number
yourNum = int(input("Enter the number: "))
num = yourNum

sum = 0
while num > 0:
  rem = num % 10
  sum += rem
  num //= 10

print("Sum of digits of number '"+str(yourNum)+"' is: ",sum)

Enter the number: 123
Sum of digits of number '123' is:  6

In [4]:
## reverse a number
yourNum = int(input("Enter the number: "))
num = yourNum

rev = 0
while num != 0:
  rem = num % 10
  num //= 10
  rev = rev * 10 + rem

print("Reverse of digits of number '"+str(yourNum)+"' is: ",rev)

Enter the number: 1265
Reverse of digits of number '1265' is:  5621

_**Perfect Numbers** have the sum of thier positive factors as themself._

In [28]:
## check for perfact num
yourNum = int(input("Enter the number: "))
num = 1

factors = []
while num < yourNum:
  if yourNum % num == 0:
    factors.append(num)
  num += 1

sum = 0
num = 0
while num < len(factors):
  sum += factors[num]
  num += 1

if sum == yourNum:
  print("It's a perfect number!")
else:
  print("It's NOT a perfect number!")

Enter the number: 23
It's NOT a perfect number!

In [39]:
## check for 
num1 = int(input("Enter the number: "))
num2 = int(input("Enter the number: "))

gcd = 0
if num1 > num2:
  num = num2
else:
  num = num1

temp = 1
while temp <= num:
  if (num1 % temp == 0) and (num2 % temp == 0):
    gcd = temp
  temp += 1

print("\nGCD of '"+str(num1)+"' and '"+str(num2)+": ",gcd)

Enter the number: 600
Enter the number: 136

GCD of '600' and '136:  8