<a href="https://colab.research.google.com/github/ravi-prakash1907/Problem-Solving-with-Python/blob/main/Class%20Notebooks/Lec7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lec 7

## Topics  
1. Lists
2. Tuples

### List

In [ ]:
W = ['a', 'bee', 'sea', 'solo', 'duo', 'trio']
W.sort()
print(W)

['a', 'bee', 'duo', 'sea', 'solo', 'trio']

In [ ]:
w = [0, -5.4, 3, 8, 0.01]
w.sort()
print(w)

w = [0, 'a', 3, 8, 0.01]
#w.sort()
print(w, ": give error")

w = [0, 3, 8, 0.01]
w.sort()
print(w)

w = [7, 9]
w.extend(['2nd'])
print(w, "\tLen: ",len(w))

w = [7, 9]
w.append('Hi')
print(w, "\tLen: ",len(w))

[-5.4, 0, 0.01, 3, 8]
[0, 'a', 3, 8, 0.01] : give error
[0, 0.01, 3, 8]
[7, 9, '2nd'] 	Len:  3
[7, 9, 'Hi'] 	Len:  3

### Append vs List

**Append:**  
* concatinates new list as single element  
* takes 1 element
* passed param is list

**Extend:** concatinates new list as extended list

In [ ]:
tempList = [1,2,3]

#######################

w = [7, 9]
w.extend(tempList)
print(w, "\tLen: ",len(w))

w = [7, 9]
w.append(tempList)
print(w, "\tLen: ",len(w))

[7, 9, 1, 2, 3] 	Len:  5
[7, 9, [1, 2, 3]] 	Len:  3

In [ ]:
names = ['Liam', 'Noah', 'Oliver', 'William', 'Elijah', 'James']
for name in names:
  print("Hi " + name + "!")

Hi Liam!
Hi Noah!
Hi Oliver!
Hi William!
Hi Elijah!
Hi James!

In [ ]:
count = 0
for foo in names:
  count += 1
  print(count, foo)

1 Liam
2 Noah
3 Oliver
4 William
5 Elijah
6 James

In [ ]:
# 4th name's 
names[3]

'William'

Lists & Strings etc.. are **iterables**

In [ ]:
# 4th name's 4th letter
names[3][3]

'l'

In [ ]:
a = [1,3]
a = a+[4,8]
a

[1, 3, 4, 8]

In [ ]:
x = range(len(names)-1,-1,-1)
# range(5, -1, -1)  --->   5, 4, 3, 2, 1, 0
for i in x:
  print(i,names[i])

5 James
4 Elijah
3 William
2 Oliver
1 Noah
0 Liam

### Tuple
Non-mutable datatypes

In [ ]:
tup1 = (1,2,3)
tup2 = (1, 'a', 3)

print(tup1)
print(tup2)

(1, 2, 3)
(1, 'a', 3)

In [ ]:
# err
#tup1[0] = 'b'

## alt way
temp = list(tup1)
temp[0] = 'b'
tup1 = tuple(temp)

print(tup1)

('b', 2, 3)

# Lab 7

## Topics  
1. For-Loop
2. While-Loop
3. Lists
4. Tuples
5. Dictionaries

**Loops:**  
1. While
2. For

In [ ]:
## Add 10 consecutive num
count = 0
sum = 0

while count != 10:
  count += 1
  sum += count

print("Sum 0 to 10: ",sum)

Sum 0 to 10:  55

In [ ]:
## program to find sum of digits of a number
yourNum = int(input("Enter the number: "))
num = yourNum

sum = 0
while num > 0:
  rem = num % 10
  sum += rem
  num //= 10

print("Sum of digits of number '"+str(yourNum)+"' is: ",sum)

Enter the number: 34
Sum of digits of number '34' is:  7

In [ ]:
## reverse a number
yourNum = int(input("Enter the number: "))
num = yourNum

rev = 0
while num != 0:
  rem = num % 10
  num //= 10
  rev = rev * 10 + rem

print("Reverse of digits of number '"+str(yourNum)+"' is: ",rev)

Enter the number: 453
Reverse of digits of number '453' is:  354

_**Perfect Numbers** have the sum of thier positive factors as themself._

In [ ]:
## check for perfact num
yourNum = int(input("Enter the number: "))
num = 1

factors = []
while num < yourNum:
  if yourNum % num == 0:
    factors.append(num)
  num += 1

sum = 0
num = 0
while num < len(factors):
  sum += factors[num]
  num += 1

if sum == yourNum:
  print("It's a perfect number!")
else:
  print("It's NOT a perfect number!")

Enter the number: 764
It's NOT a perfect number!

In [ ]:
## check for 
num1 = int(input("Enter the number: "))
num2 = int(input("Enter the number: "))

gcd = 0
flag = True
if (num1 == 0) or (num2 == 0):
  flag = False
elif num1 > num2:
  num = num2
else:
  num = num1

temp = 1
while temp <= num and flag:
  if (num1 % temp == 0) and (num2 % temp == 0):
    gcd = temp
  temp += 1

if flag:
  print("\nGCD of '"+str(num1)+"' and '"+str(num2)+": ",gcd)
else:
  print("GCD Does not exist!!")

Enter the number: 136
Enter the number: 600

GCD of '136' and '600:  8

In [ ]:
## check for factorial of a num
num = int(input("Enter a positive number: "))
counter = 1

if num < 0:
  print("Factorial of '"+str(num)+"' is a complex number!!")
else:
  fact = 1
  while counter <= num:
    fact *= counter
    counter += 1
  print("Factorial of '"+str(num)+"' is: ",fact)

Enter a positive number: 39
Factorial of '39' is:  20397882081197443358640281739902897356800000000

Assignmet1

In [ ]:
## check for armstrong num
num = int(input("Enter a positive number: "))
yourNum = num

length = 0
digits = []
if num > 0:
  while num != 0:
    length += 1
    digits.append(num % 10)
    num //= 10


newNum = 0
i = 0
while i < len(digits):
  newNum += pow(digits[i], 3)
  i += 1

if newNum == yourNum:
  print(yourNum,"is an armstrong number!")
else:
  print(yourNum,"is NOT an armstrong number!")

Enter a positive number: 153
153 is an armstrong number!

In [ ]:
## first num divisible by X and greater than Y
lowerBound = int(input("Enter lower bound: "))
deviser = int(input("Enter deviser: "))

beg = lowerBound + 1
while True:
  if beg % deviser == 0:
    break
  beg += 1

print("First number, that is devisible by '"+str(deviser)+"' and greater than '"+str(lowerBound)+"' is: ",beg)

Enter lower bound: 100
Enter deviser: 17
First number, that is devisible by '17' and greater than '100' is:  102

In [ ]:
## Check for LCM
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

flag = True

if num1 == 0 or num2 == 0:
  flag = False

elif num1 == num2:
  lcm = num1

else:
  i = 1
  if num1 > num2:
    while True:
      if (num1*i) % num2 == 0:
        lcm = num1*i
        break
      i += 1
  else:
    while True:
      if (num2*i) % num1 == 0:
        lcm = num2*i
        break
      i += 1

if flag:
  print("\nLCM of '"+str(num1)+"' and '"+str(num2)+": ",lcm)
else:
  print("\nLCM does not exists for 0!!")

Enter first number: 2
Enter second number: 3

LCM of '2' and '3:  6

### For Loop

In [ ]:
## even numbers upto x
num = int(input("Enter the upper bound: "))

print("Even numbers from 0 to",num,":")
for i in range(2,num+1, 2):
  print(i)

Enter the upper bound: 20
Even numbers from 0 to 20 :
2
4
6
8
10
12
14
16
18
20

In [ ]:
## sum of numbers upto X that are not devisible by 2,3 and 5
limit = int(input("Enter the upper bound: "))
sum = 0

flag = True
for i in range(1,limit+1):
  for deviser in [2,3,5]:
    if i % deviser == 0:
      flag = False
      break
  if flag:
    sum += i
  else:
    flag = True

print("\nSum of all numbers upto '"+str(limit)+"', that are not devisible by 2, 3 and 5:",sum)

Enter the upper bound: 67

Sum of all numbers upto '67', that are not devisible by 2, 3 and 5: 608

In [ ]:
## sum of even and odd num upto limit
limit = int(input("Enter the upper bound: "))
evenSum = 0
oddSum = 0

for i in range(0,limit+1):
  if i%2 == 0:
    evenSum += i
  else:
    oddSum += i

print("\nSum of all Even numbers upto '"+str(limit)+"': ",evenSum)
print("Sum of all Odd numbers upto '"+str(limit)+"': ",oddSum)

Enter the upper bound: 21

Sum of all Even numbers upto '21':  110
Sum of all Odd numbers upto '21':  121

In [ ]:
## fibonacci
num = int(input("Enter the upper bound: "))
a = 0
b = 1

if num >= 2:
  print(a, b, end = " ")
  for i in range(2,num):
    c = a + b
    a = b
    b = c
    print(c, end = " ")
elif num == 1:
  print(a)
else:
  print("Invalid input!!")

Enter the upper bound: 7
0 1 1 2 3 5 8

In [ ]:
braces = input("Enter string: ")

flag = True
for b in braces:
  if b == '(':
    flag = False
  elif b == ')':
    flag = True

if flag:
  print("Matched")
else:
  print("NOT Matched")

Enter string: ()#)()($)(%)%*)(
NOT Matched

In [ ]:
## check for prime number
from math import sqrt

num = int(input("Enter the upper bound: "))
limit = int(sqrt(num))

flag  = True
for i in range(2, limit+1):
  if num % i == 0:
    flag = False
    break

if flag:
  print("Number is Prime")
else:
  print("Number is NOT Prime")

Enter the upper bound: 282
Number is NOT Prime

---

* List
* Tuple

In [ ]:
val = 1
myList = []
for i in range(0, 3):
  temp = []
  for j in range(0, 3):
    temp.append(val)
    val += 1
  myList.append(temp)

print(myList)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
for i in myList:
  for j in i:
    print(j, end = " ")
  print()

1 2 3
4 5 6
7 8 9

In [ ]:
myList[0][0] = 'beg'
myList[len(myList)-1][2] = 'end'

myList

[['beg', 2, 3], [4, 5, 6], [7, 8, 'end']]

In [ ]:
from random import randint,sample
print(randint(1,100))

43

**replace each elements with its square**

In [ ]:
## replace each elements with its square
length = int(input("Enter length of list: "))

## creating a list randomly
myList = []
for i in range(0, length):
  num = randint(0,100)
  myList.append(num)

print("\nActual list: ",myList)

# altering the list
for i in range(0, length):
  myList[i] *= myList[i]

print("List after squaring every element: ",myList)

Enter length of list: 4

Actual list:  [24, 48, 50, 89]
List after squaring every element:  [576, 2304, 2500, 7921]

In [ ]:
## count elements > 50
c = 0
for i in myList:
  if i > 50:
    c += 1

print(c,"out of",len(myList),"items in 'myList' are greater than 50.")

4 out of 4 items in 'myList' are greater than 50.

In [ ]:
v = []
v.append(sample(range(100),10))
v

[[74, 72, 14, 23, 89, 65, 10, 85, 24, 80]]

In [ ]:
## mean , var, SD
from math import sqrt
myList = v[0][:10]
#myList = [1,2,3,4,5,-5,-4,-3,-2,-1]

print("Sample space: ",myList)

mean = sum(myList)/len(myList)

secondExpactation = 0
for i in myList:
  secondExpactation += (i**2)*1/len(myList)

var = secondExpactation - mean**2
SD = sqrt(var)

print("\nMean: ",mean)
print("Variance: ",var)
print("Standerd Deviation: ",SD)

Sample space:  [74, 72, 14, 23, 89, 65, 10, 85, 24, 80]

Mean:  53.6
Variance:  910.2399999999998
Standerd Deviation:  30.17018395701292

**Assignment**

In [ ]:
# Median
myList.sort()
if len(myList)%2 == 0:
  median = myList[len(myList)//2-1] + myList[len(myList)//2]
else:
  median = myList[len(myList)//2]

print("Median: ",median)

Median:  137

In [ ]:
# check for duplicates in list
length = int(input("Enter length of list: "))
flag = False

## creating a list randomly
myList = []
for i in range(0, length):
  num = randint(0,100)
  myList.append(num)

#myList = [2,4,5,6,2]
print()
c = 0
for i in range(0,len(myList)):
  if i in myList[i+1:]:
    flag = True
    break

print(flag)

Enter length of list: 6
True

In [ ]:
## check for prime number
from math import sqrt

length = int(input("Enter length of list: "))
flag = False
noPrime = False

## creating a list randomly
myList = []
for i in range(0, length):
  num = randint(0,100)
  myList.append(num)

#from math import sqrt
myList = [1,2,4,5,6,6,7]
print(myList)

for num in myList:
  limit = int(sqrt(num))
  
  flag  = True
  for i in range(2, limit+1):
    if num % i == 0:
      flag = False
      break
    
  if flag:
    print(num)
    noPrime = True

if not noPrime:
  print("No Prime")

Enter length of list: 5
[1, 2, 4, 5, 6, 6, 7]
1
2
5
7

In [31]:
## Ading 2 matrices

mat1 = []
mat2 = []

#rows = inr("Enter number of rows in the matrix: ")
#cols = inr("Enter number of columns in the matrix: ")
rows = 4
cols = 3

counter = 1
for i in range(4):
  temp = []
  for j in range(3):
    temp.append(counter)
    counter += 1
  mat1.append(temp)

for i in range(4):
  temp = []
  for j in range(3):
    temp.append(counter)
    counter += 1
  mat2.append(temp)


  #####################


sumMat = []

for i in range(0, len(mat1)):
  temp = []
  for j in range(0, len(mat1[0])):
    temp.append(mat1[i][j] + mat2[i][j])
  sumMat.append(temp)


#########
print("\nMatrix-1:")
for i in mat1:
  for j in i:
    print(j, end = " ")
  print()


print("\nMatrix-2:")
for i in mat2:
  for j in i:
    print(j, end = " ")
  print()


print("\n\nMatrix-1 + Matrix-2:\n")
for i in sumMat:
  for j in i:
    print(j, end = " ")
  print()

Matrix-1:
1 2 3
4 5 6
7 8 9
10 11 12

Matrix-2:
13 14 15
16 17 18
19 20 21
22 23 24


Matrix-1 + Matrix-2:

14 16 18
20 22 24
26 28 30
32 34 36

In [14]:
## transpose

myMatrix = []

#rows = inr("Enter number of rows in the matrix: ")
#cols = inr("Enter number of columns in the matrix: ")
rows = 4
cols = 3

counter = 1
for i in range(4):
  temp = []
  for j in range(3):
    temp.append(counter)
    counter += 1
  myMatrix.append(temp)

rows = len(myMatrix)
cols = len(myMatrix[0])

transposeMatrix = []

for i in range(cols):
  temp = []
  for j in range(rows):
    temp.append(myMatrix[j][i])
  transposeMatrix.append(temp)


print("\nMain Matrix:")
for i in myMatrix:
  for j in i:
    print(j, end = " ")
  print()

print("\nTranspose Matrix:")
for i in transposeMatrix:
  for j in i:
    print(j, end = " ")
  print()

Main Matrix:
1 2 3
4 5 6
7 8 9
10 11 12

Transpose Matrix:
1 4 7 10
2 5 8 11
3 6 9 12

In [ ]:
### reverse a list
myList = [1,2,3,4,5,6]
temp = []
for i in range(len(myList), 0,-1):
  temp.append(i)

myList = temp
myList

[6, 5, 4, 3, 2, 1]

**Tuples**

In [ ]:
myTup =  (1,2,4,5,6,5)
myTup.count(5)  # gives 2
myTup.count(3)  # gives 0

0

In [ ]:
## zip() function
myTup1 =  (1,2,4,5,6,5)
myTup2 = ('a', 'bee', 'sea', 'solo', 'duo', 'trio')
for txt, num in zip(myTup2,myTup1):
  
## generates a paired list

In [ ]:
pairedList = [(1,'a'), (2,'b'),(3,'c')]