<a href="https://colab.research.google.com/github/ravi-prakash1907/Problem-Solving-with-Python/blob/main/Lab_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 6

## Theory Session

1. Conditional O/P
2. Relational O/P  
  * String Comparision (==, !=, >, <,)
  * Comparing string & number (valid for == and !=)

In [3]:
## String Comp.
print('as' > 'ask')
print('Hi' == 'Hi')
print('hi' > 'at')
print('HI' != 'Hi')
print('at' > 'ask')
print('as' < 'at')

False
True
True
True
True
True

### Topics
1. Control Statements
  * Iterative Controle Structure
  * Iterative Controle Statements or Loops
2. Loops
  * While
  * For

In [7]:
## while lop
n = 1

while n <= 10:
  print(n)
  n += 1

1
2
3
4
5
6
7
8
9
10

In [5]:
sum = 0
current = 1

n = int(input("Enter value: "))

while current <= n:
  sum += current
  current += 1

print(sum)

Enter value: 5
15

In [27]:
## Temprature Conversion
print("Press 'F' to covert from Celsius to Fahrenheit: ")
print("Press 'C' to covert from Fahrenheit to Celsius: ")

which = input("Enter selection: ")

while which != 'F' and which != 'C':
  which = input("Enter 'F' or 'C': ")

temp = input("Enter the temprature: ")

while temp:
  temp = int(temp)
  if which == 'F':
    convert = format((9/5 * temp) + 32, '.1f')
    print(temp,'deg. Celsius = ',convert,"deg. Fahrenheit")
  else:
    convert = format((temp - 32) * (5/9), '.1f')
    print(temp,'deg. Fahrenheit = ',convert,"deg. Celsius")
  temp = input("Enter the temprature: ")

Press 'F' to covert from Celsius to Fahrenheit:
Press 'C' to covert from Fahrenheit to Celsius:
Enter selection: F
Enter the temprature: 32
32 deg. Celsius =  89.6 deg. Fahrenheit
Enter the temprature: 0
0 deg. Celsius =  32.0 deg. Fahrenheit
Enter the temprature:

1. Infinite Loop  
Runs infinite times

2. Definate Loops   
Before the loops' execution if the number of iteration are known 

3. Indefinate Loops  
Before the loops' execution if the number of iteration are NOT known 

4. Boolean Flags

In [6]:
## milage

In [11]:
## for loop
for k in [10,20,30,40]:
  print(5)

for k in [10,20,30,40]:
  print(k)

for k in 'Hello':
  print(k)

5
5
5
5
10
20
30
40
H
e
l
l
o

In [15]:
## custom increament instead of 1
# range(beg, end, incrementBy)
# range() works for integers only!!!!!!!!

for x in range(0,101, 10):
  print(x)

print("\n")

for x in range(100,-1, -10):
  print(x)

0
10
20
30
40
50
60
70
80
90
100


100
90
80
70
60
50
40
30
20
10
0

In [16]:
for x in range(10) :
  print(x)

0
1
2
3
4
5
6
7
8
9

In [17]:
for n in range(1,10,2):
  print(n, n*n)

1 1
3 9
5 25
7 49
9 81

In [18]:
sum = 0

for k in range(1,5):
  sum += k

print(sum)

10

In [21]:
for i in range(7):
  for j in range(1,i+2):
    print(j, end="")
  print()

1
12
123
1234
12345
123456
1234567

Break Statement

In [31]:
# altering temprature conversion
temp = input("Enter the temprature: ")

while True:
  if not temp:
    break
  
  temp = int(temp)
  
  convert = format((9/5 * temp) + 32, '.1f')
  print(temp,'deg. Celsius = ',convert,"deg. Fahrenheit")
  temp = input("\nEnter the temprature: ")

Enter the temprature: 32
32 deg. Celsius =  89.6 deg. Fahrenheit

Enter the temprature:

Continue Statement

In [24]:
while 1:
  n = int(input("Number:"))
  if n <= 0:
    continue
  else:
    print(n**0.5)
    break

Number:24
4.898979485566356

# Lab Session