<a href="https://colab.research.google.com/github/ravi-prakash1907/Problem-Solving-with-Python/blob/main/Submissions/Internal_Exams_Lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Internal Exams Lab-1**

In [1]:
print("All set!")

All set!

## Sol. 1  

_Write a program that gets a positive integer (n) from the user and prints all the integers between 1 and n (excluding 1 and n) that are divisible by 7. Here are examples of how the program should behave (user input given in bold):_

In [5]:
num = int(input("Enter n: "))
print("Ans:")
for i in range(2,num):
  if i%7 == 0:
    print(i)

Enter n: 27
Ans:
7
14
21

## Sol. 2  

_Product of 2 numbers that are seperated by comma_

In [6]:
numStr = input("Enter integers separated by comma: ")
numlist = numStr.split(',')

prod = 1
for num in numlist:
  prod *= int(num)

print(prod)

Enter integers separated by comma: 7,8
56

## Sol. 3  

_Write a program to ask the user for a positive integer (n).  If n is negative, print 0. Otherwise, print the smallest number greater than n that is a multiple of 13._

In [10]:
n = int(input("Enter n: "))
print("output:", end=" ")
if n < 0:
  print(0)
else:
  temp = n+1
  while temp%13 != 0:
    temp += 1
  print(temp)

Enter n: 14
output: 26

## Sol. 4 

_Write a program that prints the result of the mathematical expression entered by the user. Here is an example of how the program should behave (user input given in bold):_  

```
Enter mathematical expression: 23 + 2.3 * 22/5
33.12
```

In [12]:
print(eval(input("Enter mathematical expression: ")))

Enter mathematical expression: 23 + 2.3 * 22/5
33.12

## Sol. 5

_Keep adding strings to a list_  
_if user enters a blank string, print the list_

In [18]:
buffer = []
while True:
  data = input("Enter value: ")
  if data is not '':
    buffer.append(data)
    continue
  break

print(buffer)

Enter value: hd
Enter value: 4
Enter value: (d,ty)
Enter value:
['hd', '4', '(d,ty)']