<a href="https://colab.research.google.com/github/ravi-prakash1907/Problem-Solving-with-Python/blob/main/Submissions/Mid%20Sem%20Exam(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Write a program that asks the user to enter a list of at least three numbers.
l1 = eval(input())
if len(l1) > 2:
  avg = sum(l1)/len(l1)
  temp = l1[:]
  threeMin = []
  for i in range(3):
    threeMin.append(min(temp))
    temp.remove(min(temp))
  
  temp = l1[:]
  temp.remove(min(l1))

  print(avg)
  print(threeMin)
  print(sum(temp)/len(temp))

[25,13,8,35,-10]
14.2
[-10, 8, 13]
20.25

In [ ]:
num1 = int(input())
num2 = int(input())

print(abs(num1-num2))

20

In [ ]:
list1 = eval(input())

for index in range(len(list1)):
  if list1[index] < 0:
    list1[index] = 0
    break

print(list1)

[4,22,65,-54,67,-46,2]
[4, 22, 65, 0, 67, -46, 2]

In [ ]:
list1 = eval(input())
list2 = eval(input())

newList = []
for index in range(len(list1)):
  newList.append(list1[index])
  newList.append(list2[index])

print(newList)

[1,2,3]
[6,7,8]
[1, 6, 2, 7, 3, 8]

In [ ]:
# Write a program that prints out all the numbers from 1 to n, 
# that are divisible by 3 or 7 but not divisible by both. where n is the input 

n = int(input())

x = 1
while x <= n:
  if x%3 == 0 and x%7 == 0:
    x += 1
    continue
  elif x%3 == 0 or x%7 == 0:
    print(x)  
  x += 1

30
3
6
7
9
12
14
15
18
24
27
28
30

In [ ]:
def absfact(num):
  fact = 1
  if num > 0:
    for i in range(1, num+1):
      fact = fact* i
  return abs(num-fact)

print(absfact(5))
print(absfact(0))

115
1